{% extends 'base.html' %}

{% block titulo %}Mascotas{% endblock %}
{% block extrahead%}

<script src="{% static 'tempus/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'tempus/moment.min.js' %}"></script>
<script src="{% static 'tempus/tempusdominus-bootstrap-4.min.js' %}"></script>

<script src="{% static 'tempus/es.js' %}"></script>
<link href="{% static 'tempus/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" type="text/css">
{{ form.media }}
{% endblock %}
{% block mascota-activo %}active{% endblock %}
{% block adicional-header %}{{ item.nomb_mascota }}{% endblock %}
{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ item.nomb_mascota }} </h6>
    </div>
    <div class="card-body">
    </div>
</div>
{% endblock %}