/*definiendo variables de colores*/
:root {
    --Bl: #fff;
    --BlAz: #c9e3e3;
    --AzSc: #b2d8d8;
    --AzC: #66b2b2;
    --Az: #008080;
    --AzO: #006666;
    --AzSo: #004c4c;
}
/*imagen de fondo del body*/
/* body {
    background-image: url('../img/bg.png') !important; 
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100%; 
} */
/*fondo del contenido*/
#content-wrapper {
    background-image: url('../img/bg.png') !important;
    /* background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover; */
}
/* sidebar*/
.bg-gradient-primary {
    background-color: var(--AzSo) !important;
    background-image: linear-gradient(180deg, var(--AzO) 10%, var(--AzSo) 100%)
}
/* estilo del navbar */
.topbar {
    background-color: var(--AzC) !important;
    height: 3.5rem !important;
}
/* color del footer */
.sticky-footer {
    padding: 1rem 0 !important;
    background-color: var(--BlAz) !important;
}

/* estilo de las cartas */
.card {
    border: 1px solid var(--AzO);
}
.text-primary {
    color: var(--AzSo) !important;
    transition: all .3s ease-out;
}
.card-header {
    border-bottom: 1px solid var(--AzO);
    background: rgb(0,102,102);
  background: linear-gradient(90deg, rgba(0,102,102,1) 0%, rgba(178,216,216,1) 50%, rgba(255,255,255,1) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .2s ease-out;
}
.card:hover .card-header {
    background-position: left bottom;
}
.card:hover .text-primary {
    color: var(--Bl) !important;
}
/* Estilo de Tablas */
.table {
    color: var(--AzSo);
}
.table-bordered {
    border: 1px solid var(--Az);
}
.table thead th {
    border-bottom: 2px solid var(--Az);
}
.table tbody tr {
    transition: all .2s ease-out;
}
.table tbody tr:hover {
    background-color: #008080;
    color: #fff !important;
}
/* estilo botones */
.btn-primary {
    background-color: var(--AzO);
}
.btn-primary:hover {
    background-color: var(--AzSo);
}