{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}Inventario{% endblock %}

{% block registrar-activo %}active{% endblock %}

{% block body %}
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Nuevo Producto!</h1>
                    </div>
                    <form class="user" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">{{ form.prod_nomb|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.precio|as_crispy_field }}</div>
                        </div>
                        {{ form.estado|as_crispy_field }}
                        <div class="row">
                            <div class="col-10">{{ form.cat_prod|as_crispy_field }}</div>
                            <div class="col-2 icon"><a href="{% url 'inventario:nuevo_cat' %}"><i class="fas fa-fw fa-plus-circle kek"></i></a></div>
                        </div>
                        <div class="row">
                            <div class="col-10">{{ form.marca_nomb|as_crispy_field }}</div>
                            <div class="col-2 icon"><a href="{% url 'inventario:nuevo_marc' %}"><i class="fas fa-fw fa-plus-circle"></i></a></div>
                        </div>
                        <div class="row">
                            <div class="col-10">{{ form.tip_mascota|as_crispy_field }}</div>
                            <div class="col-2 icon"><a href="{% url 'inventario:nuevo_tipmascota' %}"><i class="fas fa-fw fa-plus-circle"></i></a></div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-user btn-block">Guardar Producto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}