{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}Inventario{% endblock %}

{% block registrar-activo %}active{% endblock %}

{% block body %}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Agrega ahora!</h1>
                    </div>
                    <form class="user" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="row">
                        <button class="btn btn-secondary btn-user col-md-4">Cancelar</button>
                        <button type="submit" class="btn btn-primary btn-user col-md-4">Guardar!!</button>
                        <button class="btn btn-secondary btn-user col-md-4">Guardar y Agregar más</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}